.App {
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: #bbbbbb;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header div {
  border-radius: 6px;
  /* margin: 10px; */
}

#navbar {
  background-color: blue;
  float: left;
  margin: 10px;
  width: calc(40% - 10px * 2);
}
#darkModeButton {
  float: left;
  margin: 10px;
  background-color: gray;
  width: calc(30% - 10px * 2);
}

#currentStatus {
  float: left;
  margin: 10px;
  background-color: purple;
  width: calc(60% - 10px * 2);
}
#searchBar {
  background-color: green;
  float: left;
  margin: 10px;
  width: calc(40% - 10px * 2);
}
#tempOptionsButton {
  float: right;
  margin: 10px;
  background-color: red;
  width: calc(30% - 10px * 2);
}
#cityList {
  float: left;
  margin: 10px;
  background-color: rgb(141, 141, 0);
  width: calc(35% - 10px * 2);
}
#fullDetails {
  float: right;
  margin: 10px;
  background-color: pink;
  width: calc(65% - 10px * 2);
}
